* {
  margin: 0;
  padding: 0;
}
.contaienr {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item {
  min-width: 150px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.one {
  height: 120px;
  border: 1px solid #f00;
}
.two {
  height: 100px;
  border: 1px solid #f00;
}
.three {
  height: 40px;
  border: 1px solid #f00;
}
.four {
  height: 200px;
  border: 1px solid #00f;
}

@media screen and (max-width: 640px) {
  .one {
    order: 2;
  }
  .two {
    order: 3;
  }
  .three {
    order: 4;
  }
  .four {
    order: 1;
  }
  .contaienr {
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
